body {
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive;
}

#landingScreen {
    background-image: url('images/landing\ screen.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    padding: 2% 8%;

}
.brand-name {
    font-size: 2rem;
}
.logo {
    width: 20%;
    border-radius: 100%;
}
.links{
    font-size: 1.5rem;
    margin: 1.5rem;
}
#landingScreen h3{
    margin-top: 8%;
    color:azure;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}
.intro-text {
    font-size:3rem;
    width: fit-content;
    color: white;   
    text-align: center;
}

#book-now {
    padding: 7% 0;
    background-color: #dbe8db;
}

.booking-forms {
    display: flex;
}

#errorMsg {
    color: red;
    font-size: 1.5rem;
}
#bookingMsg {
    color: blue;
    font-size: 1.5rem;
}

#services {
    padding: 4% 0;
}

.service-card {
    border-radius: 5px;
    margin: auto;
    }

#services .row {
    width: fit-content;
    margin: auto;
}

#services .card-title {
    text-align: center;
}

#services .btn {
    display: block;
    margin: 0 auto;
}

.form-input2 {
    font-size: 1.5rem;
    margin: 0 0.4%;
}

.booking-forms input {
    height: 6vh;
    border-radius: 5px;
    border: none;
}
.booking-forms select {
    height: 6vh;
    border-radius: 5px;
    border: none;
}

.booking-forms label {
    font-weight: bold;
}
.booking-forms {
    width: fit-content;
    margin: auto;
}
.booking-forms input[type="submit"]{
    padding: 1% 3%;
    background-color: #ff7b00;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}


#donation {
    background-color: #f3f0eb;
    text-align: justify;
}

#donation .col-7 {
    padding: 8% 3% 7% 9%;
}

h3 {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    color: #d49a39;
    font-weight: bold;
}

.col-7 h3 {
    margin-bottom: 2%;
}
.col-7 h1 {
    line-height: 1.6;
    font-size: 3.5rem;
    font-weight: 400;
}

.col-7 p {
    font-family: "Poppins", Arial, sans-serif;
    line-height: 1.8;
    font-size: 1.1rem;
    color: #666666;
}




#donation .p-3 {
    background-color: #ffffff;
    text-align: center;
    margin: 10% 0;
}

.donation-text{
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

.top-donation-method {
    height: 17%;
    width: 90%;
    background-color: #0b686e;
    padding: 3% 0 3% 8%;
    margin-top: -150px;
    border-radius: 10px 10px 0 0;
}
.top-donation-method i{
    font-size: 4.5em;
    color: #d49a39;
}
.donation-top-amt {
    font-size: 4em;
    color: white;
}

@media (max-width: 768px) {
    .donation-top-amt {
      font-size: 2em;
    }
    .donation-methods {
        font-size: 2.5em;
    }
  }


  .top-donation-method p {
    color: white;
}

.donation-methods {
    width: 90%;
    height: 105%;
    padding: 8% 3% 0 3%;
    background-color: #3a311d;
    border-radius: 0 0 5px 5px;
}

.donation-center {
    width: 90%;
    margin: auto;
}

.float {
    display: inline-block;
}
#float2  {
    padding-left: 7%;
}
#float2 p {
    color: #d49a39;
}


.orange {
    color: #d49a39;
}

.form-label {
    display: block;
}

.form-input {
    padding-left: 4%;
    width: 100%;
    height: 3rem;
    background-color: #443c29;
    border-radius: 5px;
    border: 0;
}
form p {
    padding: 2% 0;
}
.form-input::placeholder, select.form-input {
    color: #a09c92;
    font-size: 1.3rem;
}


.donation-moto {
    color: white;
    font-size: 1.9rem;
}
#donate-button {
    color: white;
    height: 65px;
    background-color: #d49a39;
}

.transparent-screen {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 4px;
}



#footer {
    padding: 5% 0;
    background-color: black;
    text-align: center;
    color: whitesmoke;

}

.footer-icon {
    font-size: 2rem;
    color: white;
    margin: 0 2%;
}
.footer-icon:hover {
    cursor: pointer;
    font-size: 2.5rem;
}

.copy-right {
    margin-right: 2rem;
}

.author {
    margin-top: 2%;
    font-size: 1rem;
    color: white;
}
